.table {
	background-color: rgb(255, 255, 255);
    margin-top: 30px;
    align-items: center;
	margin-left: 200px;
	margin-right: 400px;
	border-radius: 30px; /* Pill-shaped button */

}

.row {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
    justify-content: center;
	background-color: #0c0c0c;
    justify-content: center;
	color: rgb(255, 255, 255);
	margin-top: 10px;
	font-size: large;
	border-radius: 30px; /* Pill-shaped button */
}

.row:hover {
	color: rgb(32, 199, 221);

}

.row:nth-child(even) {
	background-color: #0c0c0c;
    justify-content: center;
	color: rgb(255, 255, 255);
	margin-top: 10px;
}

.row:nth-child(even):hover {
	color: rgb(32, 199, 221);
    justify-content: center;
}

.body .row {
	padding: 10px;
	cursor: pointer;
}

.body .row div {
	display: flex;
	justify-content: center;
}

.options {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.page-active {
	color: rgb(32, 199, 221);
}
.image_weather {
    width: 150px;
    height: auto;
    display: block; /* Elimina el espacio adicional por debajo de la imagen */
    margin: 0 ; /* Centra la imagen horizontalmente */
}